@charset "utf-8";
/* cgv_movies.css */

#wrap{
  width: 1600px; height: auto; 
  margin: auto;
  background-color: #fef8dc;
}

#headBox{ position: relative;
  width: 100%; height: 1380px;
  background-color: #fdfcf0;
}

.log_area{
  margin-left: 1107px; margin-top: 20px;
  width: 380px; height: 70px;
  background-color: transparent;
}

.user_icon{ float: left;
  width: 34px; height: 30px;
  background-image: url("../../img/user_icon.png");
  background-repeat: no-repeat;
}

.log_area > li{ float: left;
  margin: auto;
  font-size: 20px;

}
.log_area > li:nth-of-type(3){
  color:#da281c;
}


#globalNav{
  width: 82px; height: 68px;
  margin-left: 114px;
  background-image: url("../../img/meun_bar_basic.png");
  background-repeat:no-repeat;
}
#globalNav:hover,
#globalNav:focus{
  width: 82px; height: 68px;
  margin-left: 114px;
  background-image: url("../../img/meun_bar_hover.png");
  background-repeat:no-repeat; cursor: pointer;
}

#globalNavBox{
  position: absolute; top: 70px;
  z-index: 500;
  width: 1290px; height: 150px; overflow: hidden;
  margin-left: 82px; color:#231d1d;
  opacity: 0.9;
  background-color: #f7f6ea;
}

#globalNavBox a:hover,
#globalNavBox a:focus{
  color: #D03432;
}

#globalNavBox > li{
  float: left;
  width: 180px; height: 35px;
  margin-left: 50px; font-size: 30px;
  text-align: center; text-transform: uppercase;
  border-bottom: 2px solid #231d1d;
}

.global_nav_text li{
  width: 180px; height: 24px;
  font-size: 20px;
}

h1{
   position: absolute; left: 50%; top: 70px;
   font-size: 60px; color: #da281c;
}

#localMeun{
  width: 100%; height: 52px;
}

#localMeun li{ float: left;
 width: 150px; height: 30px;
 font-size: 20px; text-align: center;
 margin-left: 50px; margin-top: 20px;
 border-bottom: 4px solid #c93e17;
}

#localMeun li:nth-of-type(1){
  margin-left: 196px;
}

#localMeun li:hover a,
#localMeun li:focus a{
  color: #D03432;
}

#movieMp4{
  width: 1370px; height: 1000px;
  border: 1px solid #231d1d;
  margin: auto; margin-top: 78px;
  background-image: url("../../img/moviepage_mp4_img.png");
}

#movieMp4 > button{
  position: absolute; top: 750px; left: 750px;
  width: 76px; height: 80px;
  background-color: transparent;
  background-image: url("../../img/play_btn.png");
  background-repeat: no-repeat;
}

/* movieBox */
#movieBox{
  position: relative;
  width: 100%; height: 1950px;
  padding: 35px; box-sizing: border-box;
  background-color: #fdfcf0;
}

#movie_area{
  width: 100%; height: 100%;
}

.rank{
  width: 180px; height: 64px;
}
.rank:nth-of-type(1){
 position: absolute; top: 35px; left: 150px;
 background-image: url("../../img/rank_icon_01.png");
 background-repeat: no-repeat;
}

.rank:nth-of-type(2){
  position: absolute; top: 668px; left: 964px;
  background-image: url("../../img/rank_icon_02.png");
  background-repeat: no-repeat;
 }
  
 .rank:nth-of-type(3){
  position: absolute; top: 1298px; left: 964px;
  background-image: url("../../img/rank_icon_03.png");
  background-repeat: no-repeat;
 }

.moive_mp4_01{
  width: 650px; height: 400px;;
  border: 2px solid #231d1d;
  margin-top: 65px; margin-left: 114px;
  background-image: url("../../img/movie_mp4_01.png");
}

.moive_mp4_02{
  width: 650px; height: 400px;;
  border: 2px solid #231d1d;
  margin-top: 134px; margin-left:524px;
  background-image: url("../../img/movie_mp4_02.png");
}

.moive_mp4_03{
  width: 650px; height: 400px;;
  border: 2px solid #231d1d;
  margin-top: 132px; margin-left:900px;
  background-image: url("../../img/movie_mp4_03.png");
}

.movie_text_01{
  width: 650px; height: 75px;
  margin-top: 20px; margin-left: 114px;
}

.movie_text_02{
  width: 650px; height: 75px;
  margin-top: 20px; margin-left: 524px;
}

.movie_text_03{
  width: 650px; height: 75px;
  margin-top: 20px; margin-left: 900px;
}

p{
  text-align: center;
  font-size: 20px;
}
#movieBox button{
  position: absolute; bottom: 30px; right: 10px;
  width: 100px; height: 40px;
  border-radius: 5px; color: #fff; font-size: 20px;
  background-color: #d03432;
}
/* footBox */
#footBox{
  width: 100%; height: 400px;
  background-color: #fef8dc;
}

.cj_icon{float: left;
  width: 142px; height: 140px;
  margin-top: 40px; margin-left: 114px;
  background-image: url("../../img/cj_icon.png");
  background-repeat: no-repeat;
}
.com_info{float: left;
  width: 574px; height: 96px;
  margin-top: 80px; margin-left: 20px;
}

.com_info address{
  font-size: 20px;
}

.com_info_nav{float: left;
  width: 186px; height: 100px;
  margin-top: 80px; margin-left: 142px;
}

.com_info_nav a{
  display: block;
  width: 186px; height: 20px;
  margin-bottom: 20px;  line-height: 10px;
}

.com_info_nav a:hover,
.com_info_nav a:focus{
  color: #D03432; border-bottom: 1px solid #231d1d;
}

.arrow_icon{  float: left;
  width: 16PX; height: 20PX;
  background-image: url("../../img/fott_arrow.png");
  background-repeat: no-repeat;
}

.facebook_icon a{float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left: 82px;
  background-image: url("../../img/face_book.png");
  background-repeat: no-repeat;

}
.twitter_icon a{
  float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left:20px;
  background-image: url("../../img/twitter.png");
  background-repeat: no-repeat;
}
.instargram_icon a{
  float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left:20px;
  background-image: url("../../img/instargram.png");
  background-repeat: no-repeat;
}
.foot_character{
  width: 552px; height: 187px;
  margin-top: 20px; margin-left: 524px;
  background-image: url("../../img/character.png");
  background-repeat: no-repeat;
}