@charset "utf-8";
/* cgv_main.css */

#wrap{
  width: 1600px; height: auto; 
  margin: auto;
  background-color: #ddd;
}

#headBox{ position: relative;
  padding-top: 20px; box-sizing: border-box;
  width: 100%; height: auto; min-height: 1380px;
  background-color: #fdfcf0;
}

.log_area{
  margin-left: 1107px;
  width: 380px; height: 70px;
  background-color: transparent;
}
.user_icon{ float: left;
  width: 34px; height: 30px;
  background-image: url("../../img/user_icon.png");
  background-repeat: no-repeat;
}

.log_area > li{ float: left;
  margin: auto;
  font-size: 20px;

}
.log_area > li:nth-of-type(3){
  color:#da281c;
}


#globalNav{
  width: 82px; height: 68px;
  margin-left: 114px;
  background-image: url("../../img/meun_bar_basic.png");
  background-repeat:no-repeat;
}
#globalNav:hover,
#globalNav:focus{
  width: 82px; height: 68px;
  margin-left: 114px;
  background-image: url("../../img/meun_bar_hover.png");
  background-repeat:no-repeat; cursor: pointer;
}

#globalNavBox{
  position: absolute; top: 70px;
  z-index: 500;
  width: 82px; height: 68px; overflow: hidden;
  margin-left: 82px; color:#231d1d;
  opacity: 0.9;
  background-color: #f7f6ea;
}
#globalNavBox:hover,
#globalNavBox:focus{
  width: 1290px; height: 150px;
}

#globalNavBox a:hover,
#globalNavBox a:focus{
  color: #D03432;
}

#globalNavBox > li{
  float: left;
  width: 180px; height: 35px;
  margin-left: 50px; font-size: 30px;
  text-align: center; text-transform: uppercase;
  border-bottom: 2px solid #231d1d;
}

.global_nav_text li{
  width: 180px; height: 24px;
  font-size: 20px;
}

h1{
   position: absolute; left: 50%; top: 70px;
   font-size: 60px; color: #da281c;
}

#headBox > h2{
  margin-left: 700px; margin-top: 137px;
  color:#444; font-size: 50px;

}
.rank_01{
  position: absolute; top:410px; left: 114px ;
  width: 180px; height: 64px;
  background-image: url("../../img/rank_icon_01.png");
  background-repeat: no-repeat;
}
.rank_02{
  position: absolute; top:410px; left:525px ;
  width: 180px; height: 64px; 
  background-image: url("../../img/rank_icon_02.png");
  background-repeat: no-repeat;
}
.rank_03{
  position: absolute; top:410px; left:935px ;
  width: 180px; height: 64px;
  background-image: url("../../img/rank_icon_03.png");
  background-repeat: no-repeat;
}
.movie_img_01{
  float: left;
  margin-top: 140px; margin-left: 114px;
  width: 350px; height: 500px;
  border: 2px solid #231D1D;
  background-image: url("../../img/main_movie_img_01.png");
  background-repeat: no-repeat;
}
.movie_img_02{
  float: left;
  margin-top: 140px; margin-left: 56px;
  width: 350px; height: 500px;
  border: 2px solid #231D1D;
  background-image: url("../../img/main_movie_img_02.png");
  background-repeat: no-repeat;
}
.movie_img_03{
  float: left;
  margin-top: 140px; margin-left: 56px;
  width: 350px; height: 500px;
  border: 2px solid #231D1D;
  background-image: url("../../img/main_movie_img_03.png");
  background-repeat: no-repeat;
}

.character{
 float: left; margin-top: 390px;
 margin-left: 34px;
 width: 250px; height: 250px;
 background-image: url("../../img/character_main.png");
 background-repeat: no-repeat;
}

.movie_text{float: left;
  width: 340px; height: 115px;
  margin-top: 20px; margin-bottom: 34px; margin-left: 70px;
  /* background-color: #f7f6ea; */
}
.movie_text:nth-of-type(1){
  margin-left: 120px;
}
.movie_text > p{
  font-size: 20px; text-align: center;
}
.movie_text > p > span{
  margin-left: 5px;
}

.movie_text > p:nth-of-type(2){
  margin-top: 20px;
}

.ticket_btn{
  width: 200px; height: 60px;
  margin-left: 228px ; border-radius: 10px;
  background-color: #d03432;
  color:#fff; font-size: 40px;
}

.ticket_btn:nth-of-type(1){
  margin-left: 178px;
}

.ticket_btn:nth-of-type(3){
  margin-left: 210px;
}

/* movieBox */
#movieBox{
  width: 100%; height: auto; min-height: 1380px; 
  padding: 50px; box-sizing: border-box;
  background-color: #fdfcf0;
}
#movieBox h2{
 margin-top: 50px;  margin-left: 600px;
 width: 100%; height: 50px; text-transform: uppercase;
 color:#231d1d; font-size: 50px;
}
#movieBox h3{
  font-size: 30px;
  margin-top:25px ; margin-left: 114px;
 }
.movie_mp4{
  position: relative;
  width: 1420px; height: 980px;
  margin: auto; margin-top: 30px;
  border: 2px solid #231D1D;
  background-image: url("../../img/main_movie_mp4_img.png");
  background-repeat: no-repeat;
}

.movie_mp4_text{
  width: 962px; height: auto;
  margin: auto; margin-top: 20px; 
}

.movie_mp4_text > p{
  font-size: 30px;
}

.movie_mp4 > button{
  position: absolute; top:460px; left: 662px;
  width: 76px; height: 80px;
  background-color: transparent;
  background-image: url("../../img/play_btn.png");
  background-repeat: no-repeat;
}

/* eventBox */
#eventBox{
  width: 100%; height: auto; min-height: 1580px;
  padding: 50px; box-sizing: border-box;
  background-color: #fdfcf0;
}
 #eventBox > h2{ 
  width: 100%; height: 50px; font-size: 50px;
  margin-top: 50px;
  margin-left: 700px;
}

.event_area{
  width: 1372px; height: 1290px;
  margin: auto; margin-top: 150px;

}
.event_area>li{
  float: left;
  width: 630px; height: 500px;
}

.event_area > li a{
  display: block;
  width: 100%; height: 100%;
}

.event_area > li:nth-of-type(1) a {
  background-image: url("../../img/event_card_img.png");
  background-repeat: no-repeat;
}
.event_area > li:nth-of-type(2) a {
  background-image: url("../../img/event_card_img_02.png");
  background-repeat: no-repeat;
}
.event_area > li:nth-of-type(3) a {
  background-image: url("../../img/event_paconi_img_01.png");
  background-repeat: no-repeat;
}
.event_area > li:nth-of-type(4) a {
  background-image: url("../../img/event_paconi_img_02.png");
  background-repeat: no-repeat;
}

.event_area>li:nth-of-type(2),
.event_area>li:nth-of-type(4)
{
  margin-left: 104px;
}
.event_area>li:nth-of-type(1),
.event_area>li:nth-of-type(2)
{
  margin-bottom: 110px;
}


/* footBox */
#footBox{
  width: 100%; height: auto; min-height: 400px;
  background-color: #fef8dc;
}

.cj_icon{float: left;
  width: 142px; height: 140px;
  margin-top: 40px; margin-left: 114px;
  background-image: url("../../img/cj_icon.png");
  background-repeat: no-repeat;
}
.com_info{float: left;
  width: 574px; height: 96px;
  margin-top: 80px; margin-left: 20px;
}

.com_info address{
  font-size: 20px;
}

.com_info_nav{float: left;
  width: 186px; height: 100px;
  margin-top: 80px; margin-left: 142px;
}

.com_info_nav a{
  display: block;
  width: 186px; height: 20px;
  margin-bottom: 20px;  line-height: 10px;
}

.com_info_nav a:hover,
.com_info_nav a:focus{
  color: #D03432; border-bottom: 1px solid #231d1d;
}

.arrow_icon{  float: left;
  width: 16PX; height: 20PX;
  background-image: url("../../img/fott_arrow.png");
  background-repeat: no-repeat;
}

.facebook_icon a{float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left: 82px;
  background-image: url("../../img/face_book.png");
  background-repeat: no-repeat;

}
.twitter_icon a{
  float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left:20px;
  background-image: url("../../img/twitter.png");
  background-repeat: no-repeat;
}
.instargram_icon a{
  float: left;
  width: 60px; height: 60px;
  margin-top: 120px; margin-left:20px;
  background-image: url("../../img/instargram.png");
  background-repeat: no-repeat;
}
.foot_character{
  width: 552px; height: 187px;
  margin-top: 20px; margin-left: 524px;
  background-image: url("../../img/character.png");
  background-repeat: no-repeat;
}